h2{

   background-color: white;

 }

header{
   background-color: lightblue;
   height: 100px;
   width: 100%;

}

nav{



background-color: white;
height: 50px;
width: 100%;

}
main{
  background-color: white;
  height: 300px;
  width: 70%;
}

aside{
background-color: white;
height: 300px;
width: 30%;
}

footer{
  background-color: gray;
height: 75px;
width: 100%;

}

#mainwrapper{
  display:flex;

}
#wrapper{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
#wrapperbox{
  height:50%;
  width: 100%;
  background-color:white;
  display: flex;
}
#box1{
  height:100%;
  width: 50%;
  backgorund-color:white;
}
#box2{
  height:100%;
  width:50%;
  background-color:white;
}


#bottenboxen{
  height:50%;
  width:100%;
  background-color: white;
}


@media only screen and (max-width: 600px) {

  #mainwrapper{
    display: flex;
    flex-direction: column;
  }
  main{
    width: 100%;
  }
  aside{
    width: 100%;
  }
}

#bild1{
  height: 300px;
  width: 30%;
}
