h2{

   background-color: gray;

 }

header{
   background-color: red;
   height: 100px;
   width: 500px;

}

nav{



background-color: orange;
height: 50px;
width: 500px;

}
main{
  background-color: blue;
  height: 300px;
  width: 300px;
}

aside{
background-color: gray;
height: 300px;
width: 200px;
}

footer{
  background-color: pink;
height: 100px;
width: 500px;

}

#mainwrapper{
  display:flex;

}
#wrapper{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
